.logo {
    margin-top: 5px;
    margin-left: 5px;
}

.header-left-logo {
    float: left;
}

.header-right-links {
    float: right;
    display: inline;
    margin-top: 20px;
    margin-right: 10px;
}

.container {
    overflow: hidden;

}

.form-register {
    width: 350px; /*Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

.center {
    width: 400px; /*Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

.centered {
    width: 50%;
    padding: 10px;
}
.error-parent{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.error-centered{
    width: 620px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.access-denied-centered{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.error-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}


.Right {
    float: right;
}

.fontSize12 {
    font-size: 12px;
}

.fontSize20 {
    font-size: 20px;
}

.gray {
    color: #5C666A;
}

.red {
    color: #6a1800;
}
.error-message-margin{
    margin-bottom: 20px;
}

.enter-button{
    margin-left: 15%;
}

.cancel-button{
    margin-left: 15%;
}

.project-detail-note {
    word-wrap: break-word;
}
