<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="#{loginController.template}">
    <ui:define name="title">
        <h:outputText value="Подтверждение регистрации"/>
    </ui:define>
    <ui:define name="body">
        <div class="form-register">
            <h:form id="formAcceptNewUser">
                <p:panel id="acceptPanel" header="Подтверждение регистрации">
                    <h:panelGrid columns="2" rendered="#{acceptController.tempUser != null}" cellpadding="5">
                        <h:outputText value="Логин"/>
                        <h:outputText value="#{acceptController.tempUser.name}"/>

                        <h:outputText value="Фамилия"/>
                        <h:outputText value="#{acceptController.tempUser.lastname}"/>

                        <h:outputText value="Имя"/>
                        <h:outputText value="#{acceptController.tempUser.firstname}"/>

                        <h:outputText value="Отчество"/>
                        <h:outputText value="#{acceptController.tempUser.middlename}"/>

                        <h:outputText value="Роль"/>
                        <p:selectOneMenu value="#{acceptController.selectedRole}">
                            <f:selectItems value="#{userController.allRoles}" var="list" itemLabel="#{list.rolename}"
                                           itemValue="#{list.id}"/>
                        </p:selectOneMenu>

                        <h:outputText value="Активирован"/>
                        <p:selectBooleanCheckbox value="#{acceptController.tempUser.accepted}"/>

                        <f:facet name="footer">
                            <p:commandButton action="#{acceptController.acceptUser}" value="Подтвердить"/>
                            <p:commandButton action="#{acceptController.deleteUser}" value="Удалить"/>
                        </f:facet>
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </div>
    </ui:define>
</ui:composition>

</html>
