<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/user/UserTemplate.xhtml">
    <ui:define name="title">
        <h:outputText value="Режим администратора"/>
    </ui:define>
    <ui:define name="left_menu">
        <h:form id="form_menu">
            <p:panelMenu>
                <ui:include src="/user/UserMenu.xhtml"/>
                <ui:include src="/admin/AdminMenu.xhtml"/>
            </p:panelMenu>
        </h:form>
    </ui:define>
</ui:composition>
</html>

