<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>
    <p:submenu label="Администрирование" expanded="true">
        <p:menuitem value="Пользователи" action="/admin/UserList" icon="ui-icon-menuitem"/>
    </p:submenu>
</ui:composition>
</html>
