<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>

    <p:dialog id="UserEditDlg" widgetVar="UserEditDialog" modal="true" resizable="false" appendTo="@(body)"
              header="Редактировать данные о пользователе">
        <h:form id="UserEditForm">
            <h:panelGroup id="display">
                <h:panelGrid columns="2" rendered="#{userController.selectedUser != null}" cellpadding="5">
                    <h:outputText value="Логин"/>
                    <p:inputText value="#{userController.selectedUser.name}"/>

                    <h:outputText value="Пароль (Hash)"/>
                    <p:inputText value="#{userController.selectedUser.password}"/>

                    <h:outputText value="Фамилия"/>
                    <p:inputText value="#{userController.selectedUser.lastname}"/>

                    <h:outputText value="Имя"/>
                    <p:inputText value="#{userController.selectedUser.firstname}"/>

                    <h:outputText value="Отчество"/>
                    <p:inputText value="#{userController.selectedUser.middlename}"/>


                    <h:outputText value="Роль"/>
                    <p:selectOneMenu value="#{userController.selectedRole}" converter="omnifaces.SelectItemsConverter">
                        <f:selectItems value="#{userController.allRoles}" var="list" itemLabel="#{list.rolename}"/>
                    </p:selectOneMenu>

                    <h:outputText value="Активирован"/>
                    <p:selectBooleanCheckbox value="#{userController.selectedUser.accepted}"/>


                    <f:facet name="footer">
                        <p:commandButton actionListener="#{userController.updateUser}" value="Изменить"
                                         update="display,:formUserList:tableUsers"
                                         oncomplete="PF('UserEditDialog').hide();" style="margin: 5px"/>
                        <p:commandButton value="Отменить" onclick="PF('UserEditDialog').hide();"/>
                    </f:facet>
                </h:panelGrid>
            </h:panelGroup>
        </h:form>
    </p:dialog>

</ui:composition>
</html>