<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="#{loginController.template}">
    <ui:define name="title">
        <h:outputText value="Пользователи приложения"/>
    </ui:define>
    <ui:define name="body">
        <h:form id="formUserList">
            <p:dataTable id="tableUsers" value="#{userController.usersList}"
                         var="users"
                         rows="20"
                         paginator="true"
                         paginatorPosition="top"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="10,20,30,50"
                         resizableColumns="true"
                         lazy="false"
                         paginatorAlwaysVisible="false"
                         selectionMode="single"
                         rowKey="#{users.id}"
                         selection="#{userController.selectedUser}">

                <p:ajax event="rowSelect" update="deleteButton editButton"/>
                <p:ajax event="rowUnselect" update="deleteButton editButton"/>

                <f:facet name="header">
                    Пользователи приложения
                </f:facet>

                <p:column headerText="Логин">
                    <h:outputText value="#{users.name}"/>
                </p:column>
                <p:column headerText="Пароль (Hash)">
                    <h:outputText value="#{users.password}"/>
                </p:column>
                <p:column headerText="Фамилия">
                    <h:outputText value="#{users.lastname}"/>
                </p:column>
                <p:column headerText="Имя">
                    <h:outputText value="#{users.firstname}"/>
                </p:column>
                <p:column headerText="Отчество">
                    <h:outputText value="#{users.middlename}"/>
                </p:column>
                <p:column headerText="Роль">
                    <h:outputText value="#{users.rolename.rolename}"/>
                </p:column>
                <p:column headerText="Активирован">
                    <p:selectBooleanCheckbox value="#{users.accepted}"/>
                </p:column>
                <f:facet name="footer">

                    <p:commandButton id="editButton" icon="ui-icon-pencil" value="Редактировать"
                                     actionListener="#{userController.prepareEditUser}" update=":UserEditForm"
                                     oncomplete="PF('UserEditDialog').show()"
                                     disabled="#{empty userController.selectedUser}"/>

                    <p:commandButton id="deleteButton" icon="ui-icon-trash" value="Удалить"
                                     actionListener="#{userController.deleteUser}"
                                     update="growl,:formUserList:tableUsers,deleteButton"
                                     disabled="#{empty userController.selectedUser}">
                        <p:confirm header="Удаление записи"
                                   message="Вы действительно хотите удалить пользователя?"
                                   icon="ui-icon-alert"/>
                    </p:commandButton>
                </f:facet>
            </p:dataTable>
        </h:form>

        <ui:include src="/admin/EditUser.xhtml"/>
    </ui:define>
</ui:composition>

</html>
