<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>

    <p:dialog header="Добавление проектировщика" widgetVar="DesignerAddDialog" modal="true" resizable="false" appendTo="@(body)">
        <h:form id="DesignersAddForm">
            <h:panelGrid columns="2" cellpadding="5">
                <h:outputText value="Фамилия"/>
                <p:inputText value="#{designerController.selectedDesigner.lastname}"/>


                <f:facet name="footer">
                    <p:commandButton value="Добавить" actionListener="#{designerController.addDesigner}"
                                     update=":formDesigners:tableDesigners"
                                     oncomplete="PF('DesignerAddDialog').hide();"/>
                    <p:commandButton value="Отменить" onclick="PF('DesignerAddDialog').hide();"/>
                </f:facet>
            </h:panelGrid></h:form>

    </p:dialog>

</ui:composition>
</html>
