<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="#{loginController.template}">
    <ui:define name="title">
        <h:outputText value="Проектировщики"/>
    </ui:define>
    <ui:define name="body">
        <h:form id="formDesigners">
            <p:dataTable id="tableDesigners" value="#{designerController.designers}"
                         var="designers"
                         rows="20"
                         paginator="true"
                         paginatorPosition="top"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="10,20,30,50"
                         resizableColumns="true"
                         lazy="false"
                         paginatorAlwaysVisible="false"
                         selectionMode="single"
                         rowKey="#{designers.id}"
                         selection="#{designerController.selectedDesigner}">

                <p:ajax event="rowSelect" update="deleteButton editButton"/>
                <p:ajax event="rowUnselect" update="deleteButton editButton"/>

                <f:facet name="header">
                    Проектировщики
                </f:facet>
                <p:column headerText="Фамилия">
                    <h:outputText value="#{designers.lastname}"/>
                </p:column>

                <f:facet name="footer">
                    <p:commandButton id="createButton" icon="ui-icon-plus" value="Добавить"
                                     actionListener="#{designerController.prepareAddDesigner}"
                                     update=":DesignersAddForm"
                                     oncomplete="PF('DesignerAddDialog').show()"/>

                    <p:commandButton id="editButton" icon="ui-icon-pencil" value="Редактировать"
                                     update=":DesignersEditForm"
                                     oncomplete="PF('DesignerEditDialog').show()"
                                     disabled="#{empty designerController.selectedDesigner}"/>

                    <p:commandButton id="deleteButton" icon="ui-icon-trash" value="Удалить"
                                     actionListener="#{designerController.deleteDesigner}"
                                     update="tableDesigners,deleteButton"
                                     disabled="#{empty designerController.selectedDesigner}">
                        <p:confirm header="Удаление записи"
                                   message="Вы действительно хотите удалить проектировщика?"
                                   icon="ui-icon-alert"/>
                    </p:commandButton>
                </f:facet>
            </p:dataTable>
        </h:form>

        <ui:include src="/user/AddDesigner.xhtml"/>
        <ui:include src="/user/EditDesigner.xhtml"/>
    </ui:define>
</ui:composition>

</html>