<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>

    <p:dialog id="DesignerEditDlg" widgetVar="DesignerEditDialog" modal="true" resizable="false" appendTo="@(body)"
              header="Редактирование проектировщика">
        <h:form id="DesignersEditForm">
            <h:panelGroup id="display">
                <h:panelGrid columns="2" rendered="#{designerController.selectedDesigner != null}" cellpadding="5">
                    <h:outputText value="Фамилия"/>
                    <p:inputText value="#{designerController.selectedDesigner.lastname}"/>

                    <f:facet name="footer">
                        <p:commandButton actionListener="#{designerController.updateDesigner}" value="Изменить"
                                         update="display,:formDesigners:tableDesigners"
                                         oncomplete="PF('DesignerEditDialog').hide();" style="margin: 5px"/>
                        <p:commandButton value="Отменить" onclick="PF('DesignerEditDialog').hide();"/>
                    </f:facet>
                </h:panelGrid>
            </h:panelGroup>
        </h:form>
    </p:dialog>

</ui:composition>
</html>