<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>

    <p:dialog widgetVar="FileEditDialog" modal="true" resizable="false" appendTo="@(body)"  header="Редактирование файла">
        <h:form id="FileEditForm">
            <h:panelGroup id="FileEditGroup">
                <h:panelGrid id="FileEditPanel" cellpadding="5" columns="2">
                    <h:outputText value="Название файла:"/>
                    <p:inputText value="#{fileController.selectedFile.fname}"/>

                    <h:outputText value="Примечание:"/>
                    <p:inputTextarea value="#{fileController.selectedFile.note}" rows="3" cols="33"/>

                    <f:facet name="footer">
                        <p:commandButton actionListener="#{fileController.update}" value="Изменить"
                                         update="ProjectDetailsForm:tableFiles"
                                         oncomplete="PF('FileEditDialog').hide();" style="margin: 5px"/>
                        <p:commandButton value="Отменить" onclick="PF('FileEditDialog').hide();"/>
                    </f:facet>
                </h:panelGrid>
            </h:panelGroup>
        </h:form>
    </p:dialog>

</ui:composition>
</html>
