<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>

    <p:dialog id="ProjectEditDlg" widgetVar="ProjectEditDialog" modal="true" resizable="false" appendTo="@(body)"
              header="Редактировать данные о проекте">
        <h:form id="ProjectEditForm">
            <h:panelGroup id="display">
                <h:panelGrid columns="2" rendered="#{projectController.tempProject != null}" cellpadding="5">
                    <h:outputText value="Перечень объектов"/>
                    <p:inputText value="#{projectController.tempProject.objects}"/>

                    <h:outputText value="Название проекта"/>
                    <p:inputText value="#{projectController.tempProject.title}"/>

                    <h:outputText value="Заказчик"/>
                    <p:inputText value="#{projectController.tempProject.customer}"/>

                    <h:outputText value="Инвентарный номер"/>
                    <p:inputText value="#{projectController.tempProject.invnum}"/>

                    <h:outputText value="Библиотечный номер"/>
                    <p:inputText value="#{projectController.tempProject.libnum}"/>

                    <h:outputText value="Год"/>
                    <p:inputText value="#{projectController.tempProject.year}"/>

                    <h:outputText value="Реализован"/>
                    <p:selectBooleanCheckbox value="#{projectController.tempProject.realised}"/>

                    <h:outputText value="Проектировщик"/>
                    <p:selectOneMenu value="#{projectController.selectedDesigner}">
                        <f:selectItems value="#{projectController.allDesigners}" var="list" itemLabel="#{list.lastname}"
                                       itemValue="#{list.id}"/>
                    </p:selectOneMenu>

                    <h:outputText value="Примечание"/>
                    <p:inputTextarea value="#{projectController.tempProject.note}" rows="3" cols="33"/>

                    <f:facet name="footer">
                        <p:commandButton actionListener="#{projectController.update}" value="Изменить"
                                         update="display,formMain:tableProjects"
                                         oncomplete="PF('ProjectEditDialog').hide();" style="margin: 5px"/>
                        <p:commandButton value="Отменить" onclick="PF('ProjectEditDialog').hide();"/>
                    </f:facet>
                </h:panelGrid>
            </h:panelGroup>
        </h:form>
    </p:dialog>

</ui:composition>
</html>
