<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="#{loginController.template}">
    <ui:define name="title">
        <h:outputText value="Редактирование данных"/>
    </ui:define>
    <ui:define name="body">
        <div>
            <p:panel id="panel" header="Заполните поля">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">

                        <h:outputText value="Фамилия:"/>
                        <p:inputText value="#{loginController.currentUser.lastname}" required="true"
                                     requiredMessage="Требуется ввести значение"/>
                        <h:outputText value="Имя: "/>
                        <p:inputText value="#{loginController.currentUser.firstname}" required="true"
                                     requiredMessage="Требуется ввести значение"/>
                        <h:outputText value="Отчество: "/>
                        <p:inputText value="#{loginController.currentUser.middlename}" required="true"
                                     requiredMessage="Требуется ввести значение"/>
                        <h:outputText value="Логин: "/>
                        <p:inputText value="#{loginController.currentUser.name}" required="true"
                                     requiredMessage="Требуется ввести значение"/>
                        <h:outputText value="Пароль: "/>
                        <p:password id="pwd_input1" label="Password 1" value="#{loginController.currentUser.password}" match="pwd_input2"
                                    required="true"
                                    requiredMessage="Требуется ввести значение" validatorMessage="Пароли не совпадают"/>
                        <h:outputText value="Пароль повтор: "/>
                        <p:password id="pwd_input2" label="Password 2" value="#{loginController.currentUser.password}"
                                    required="true" requiredMessage="Требуется ввести значение"/>

                        <f:facet name="footer">
                            <p:commandButton value="Сохранить" action="#{loginController.updateUser}"
                                             update="growl,header-form-logedin"/>
                            <p:commandButton value="Cancel" update="panel" process="@this">
                                <p:resetInput target="panel"/>
                            </p:commandButton>
                        </f:facet>
                    </h:panelGrid>
                </h:form>
            </p:panel>
        </div>
    </ui:define>
</ui:composition>
</html>

