<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>
    <p:dialog id="ProjectDetailsDlg" widgetVar="ProjectDetailsDialog" modal="true" resizable="false" appendTo="@(body) "
              header="Детальная информация" width="80%">

        <h:form id="ProjectDetailsForm">
            <p:panelGrid columns="2" rendered="#{projectController.tempProject != null}">
                <h:outputText value="Название проекта:"/>
                <h:outputText value="#{projectController.tempProject.title}"/>

                <h:outputText value="Инвентарный номер:"/>
                <h:outputText value="#{projectController.tempProject.invnum}"/>

                <h:outputText value="Проектировщик:"/>
                <h:outputText value="#{projectController.curentDesignerLastname}"/>
            </p:panelGrid>

            <p:spacer/>

            <h:panelGroup id="display">
                <p:fieldset legend="Примечание" style="margin-bottom:20px">
                    <h:panelGrid columns="1" cellpadding="5">
                        <h:outputText styleClass="project-detail-note" value="#{projectController.tempProject.note}"/>
                    </h:panelGrid>
                </p:fieldset>

                <p:dataTable id="tableFiles" value="#{fileController.fileList}"
                             var="file"
                             rows="20"
                             paginator="true"
                             paginatorPosition="top"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,20,30,50"
                             resizableColumns="true"
                             lazy="false"
                             paginatorAlwaysVisible="false"
                             selectionMode="single"
                             rowKey="#{file.id}"
                             selection="#{fileController.selectedFile}">

                    <p:ajax event="rowSelect" update="deleteFileButton editFileButton downloadFileButton"/>
                    <p:ajax event="rowUnselect" update="deleteFileButton editFileButton downloadFileButton"/>

                    <f:facet name="header">
                        Файлы проекта
                    </f:facet>

                    <p:column headerText="Имя файла"
                              filterBy="#{file.fname}"
                              filterMatchMode="contains"
                              sortBy="#{file.fname}">
                        <h:outputText value="#{file.fname}"/>
                    </p:column>

                    <p:column headerText="Тип"
                              filterBy="#{file.contenttype}"
                              filterMatchMode="contains"
                              sortBy="#{file.contenttype}"
                              style="width:260px;">
                        <h:outputText value="#{file.contenttype}"/>
                    </p:column>

                    <p:column headerText="Размер (байт)"
                              filterBy="#{file.fsize}"
                              filterMatchMode="contains"
                              sortBy="#{file.fsize}"
                              style="width:160px;">
                        <h:outputText value="#{file.fsize}"/>
                    </p:column>

                    <p:column headerText="Примечание"
                              filterBy="#{file.note}"
                              filterMatchMode="contains"
                              sortBy="#{file.note}"
                              style="width:260px;">
                        <h:outputText value="#{file.note}"/>
                    </p:column>

                    <f:facet name="footer">
                        <p:commandButton id="createButton" icon="ui-icon-plus" value="Добавить"
                                         update=":FileAddForm"
                                         oncomplete="PF('FileAddDialog').show()"/>

                        <p:commandButton id="editFileButton" icon="ui-icon-pencil" value="Редактировать"
                                         update=":FileEditForm,editFileButton"
                                         oncomplete="PF('FileEditDialog').show()"
                                         disabled="#{empty fileController.selectedFile}"/>

                        <p:commandButton id="downloadFileButton" value="Скачать" ajax="false"
                                         icon="fa fa-fw fa-download" disabled="#{empty fileController.selectedFile}"
                                         update=":ProjectDetailsForm,growl"
                                         action="#{fileController.downloadSelectedFile}">
                        </p:commandButton>

                        <p:commandButton id="downloadAllFilesButton" value="Скачать архив" ajax="false"
                                         icon="fa fa-fw fa-file-zip-o"
                                         disabled="#{empty fileController.fileList}"
                                         update=":ProjectDetailsForm,growl"
                                         action="#{fileController.downloadAllFiles()}">
                        </p:commandButton>

                        <p:commandButton id="deleteFileButton" icon="ui-icon-trash" value="Удалить"
                                         actionListener="#{fileController.deleteFile}"
                                         update=":ProjectDetailsForm:tableFiles,deleteFileButton"
                                         disabled="#{empty fileController.selectedFile}"/>
                    </f:facet>
                </p:dataTable>
            </h:panelGroup>
        </h:form>
    </p:dialog>

    <p:dialog modal="true" widgetVar="statusDialog" draggable="false" closable="true" resizable="false"
              showHeader="false" appendTo="@(body)">
    </p:dialog>

    <p:dialog id="FileAddDlg" widgetVar="FileAddDialog" modal="true" resizable="false" appendTo="@(body)"
              header="Добавить файл">
        <h:form id="FileAddForm">
            <p:fileUpload
                    fileUploadListener="#{fileController.addFileToAttachment}"
                    uploadLabel="Загрузить на сервер"
                    cancelLabel="Отмена"
                    label="Выберните файл"
                    update="growl, :ProjectDetailsForm:tableFiles"
                    multiple="true"
                    mode="advanced"
                    description="Select file"/>
        </h:form>
    </p:dialog>

    <ui:include src="/user/EditFile.xhtml"/>
</ui:composition>
</html>
