<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="#{loginController.template}">
    <ui:define name="title">
        <h:outputText value="Проекты БСТ"/>
    </ui:define>
    <ui:define name="body">
        <h:form id="formMain">

            <p:dataTable id="tableProjects" value="#{projectController.projectsList}"
                         var="projects"
                         rows="20"
                         paginator="true"
                         paginatorPosition="top"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="10,20,30,50"
                         resizableColumns="true"
                         lazy="false"
                         paginatorAlwaysVisible="false"
                         selectionMode="single"
                         rowKey="#{projects.id}"
                         selection="#{projectController.tempProject}">

                <p:ajax event="rowSelect" update="deleteButton editButton detailsButton"/>
                <p:ajax event="rowUnselect" update="deleteButton editButton detailsButton"/>

                <f:facet name="header">
                    Проекты бюро сетевых технологий
                </f:facet>

                <p:column headerText="Перечень объектов"
                          filterBy="#{projects.objects}"
                          filterMatchMode="contains"
                          sortBy="#{projects.objects}"
                          style="width:180px;">
                    <h:outputText value="#{projects.objects}"/>
                </p:column>

                <p:column headerText="Название проекта"
                          filterBy="#{projects.title}"
                          filterMatchMode="contains"
                          sortBy="#{projects.title}">
                    <h:outputText value="#{projects.title}"/>
                </p:column>

                <p:column headerText="Заказчик"
                          filterBy="#{projects.customer}"
                          filterMatchMode="contains"
                          sortBy="#{projects.customer}"
                          style="width:120px;">
                    <h:outputText value="#{projects.customer}"/>
                </p:column>

                <p:column headerText="Инв. номер"
                          filterBy="#{projects.invnum}"
                          filterMatchMode="contains"
                          sortBy="#{projects.invnum}"
                          style="text-align: center; width:190px;">
                    <h:outputText value="#{projects.invnum}"/>
                </p:column>

                <p:column headerText="Библ. номер"
                          filterBy="#{projects.libnum}"
                          filterMatchMode="contains"
                          sortBy="#{projects.libnum}"
                          style="text-align: center; width:120px;">
                    <h:outputText value="#{projects.libnum}"/>
                </p:column>

                <p:column headerText="Год"
                          filterBy="#{projects.year}"
                          filterMatchMode="contains"
                          sortBy="#{projects.year}"
                          style="text-align: center; width:120px;">
                    <h:outputText value="#{projects.year}"/>
                </p:column>

                <p:column headerText="Реализован"
                          filterBy="#{projects.realised eq true ? 'Реализован' : 'Не реализован'}"
                          filterFunction="#{projectController.filterByStatus}"
                          sortBy="#{projects.realised}"
                          style="text-align: center; width:120px;">
                    <h:outputText value="#{projects.realised eq true ? 'Реализован' : 'Не реализован'}"/>
                </p:column>

                <f:facet name="footer">
                    <p:commandButton id="detailsButton" icon="fa-files-o" value="Детали"
                                     update=":ProjectDetailsForm"
                                     actionListener="#{fileController.initializeFileList}"
                                     oncomplete="PF('ProjectDetailsDialog').show()"
                                     disabled="#{empty projectController.tempProject}"/>

                    <p:commandButton id="createButton" icon="ui-icon-plus" value="Добавить"
                                     actionListener="#{projectController.prepareAddProject}" update=":ProjectsAddForm"
                                     oncomplete="PF('ProjectAddDialog').show()"/>

                    <p:commandButton id="editButton" icon="ui-icon-pencil" value="Редактировать"
                                     actionListener="#{projectController.prepareEditProject}"
                                     update=":ProjectEditForm,formMain:tableProjects"
                                     oncomplete="PF('ProjectEditDialog').show()"
                                     disabled="#{empty projectController.tempProject}"/>

                    <p:commandButton id="deleteButton" icon="ui-icon-trash" value="Удалить"
                                     actionListener="#{projectController.deleteProject}"
                                     update="tableProjects,deleteButton"
                                     disabled="#{empty projectController.tempProject}">
                        <p:confirm header="Удаление записи"
                                   message="Вы действительно хотите удалить проект?"
                                   icon="ui-icon-alert"/>
                    </p:commandButton>

                </f:facet>
            </p:dataTable>

        </h:form>


        <ui:include src="/user/AddProject.xhtml"/>
        <ui:include src="/user/EditProject.xhtml"/>
        <ui:include src="/user/ProjectDetails.xhtml"/>
    </ui:define>
</ui:composition>

</html>