<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>
    <p:submenu label="Меню" expanded="true">
        <p:menuitem value="Проекты" action="/user/ProjectList" icon="ui-icon-menuitem"/>
        <p:menuitem value="Проектировщики" action="/user/DesignerList" icon="ui-icon-menuitem"/>
        <p:menuitem value="Редактирование своих данных" action="/user/EditUser" icon="ui-icon-menuitem"/>
    </p:submenu>
</ui:composition>
</html>