<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <title>"Ошибка!"</title>
    <h:outputStylesheet library="css" name="jsfcrud.css"/>
    <link rel="icon" href="#{request.contextPath}/resources/img/faviconOSS.png" type="image/png"/>
</h:head>
<h:body>
    <div class="error-parent">
        <div class="error-centered">
            <div class="error-message-margin">
                <h:outputText styleClass="fontSize20 gray" value="Извините, произошла ошибка, попробуйте еще раз: "/>
                <h:link styleClass="fontSize20 gray" outcome="/login" value="Назад"/>
            </div>
            <h:link  outcome="/login">
                <h:graphicImage styleClass="error-img" library="img" name="sorry.jpg"/>
            </h:link>
        </div>
    </div>
</h:body>
</html>
