<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition>
    <div class="container">
        <div >
            <span class="Right fontSize14 gray"><a  href="http://www.facebook.com/kislyakaa">Kislyak Andrey</a>, Copyright © 2016
                <br/>
                All rights reserved.
            </span>
        </div>
    </div>
</ui:composition>
</html>