<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>
    <div class="container">
        <div class="header-right-links">
            <h:panelGroup id="out_of_login_panel" rendered="#{empty loginController.currentUser}">
                <h:form id="header-form-logedout">
                    <p:commandLink id="loginLink" value="Вход" action="/login"/>
                    #{" | "}
                    <p:commandLink id="registerLink" value="Регистрация" action="register"/>
                </h:form>
            </h:panelGroup>

            <h:panelGroup id="loginPanel" rendered="#{not empty loginController.currentUser}">
                <h:form id="header-form-logedin">
                    <p:commandLink id="userLink"
                                   value="#{loginController.currentUser.lastname} #{loginController.currentUser.firstname}"
                                   action="/user/EditUser"/>
                    #{" | "}
                    <p:commandLink ajax="false" id="logoutLink" value="Выход"
                                   action="#{authenticationController.doLogout}"/>
                </h:form>
                <p:link href="#{root}/admin/AdminTemplate.xhtml" value="Войти как администратор"
                        rendered="#{loginController.currentUser.rolename.rolename eq 'user'}"/>
            </h:panelGroup>

        </div>

        <div class="header-left-logo">
            <h:form id="logo-form">
                <h:commandLink action="/login">
                    <h:graphicImage styleClass="logo" library="img" name="logo.png"/>
                </h:commandLink>
            </h:form>
        </div>
    </div>
</ui:composition>
</html>
