<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <h:outputStylesheet library="css" name="jsfcrud.css"/>
    <link rel="icon" href="#{request.contextPath}/resources/img/faviconOSS.png" type="image/png"/>
    <title>
        Вход
    </title>
</h:head>

<h:body>
    <p:growl id="growl" life="3000" autoUpdate="true" showDetail="true" sticky="true"/>
    <div class="center">
        <h:form id="loginForm" prependId="false">
            <p:panel id="panel" header="Введите учетные данные">

                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputText value="Пользователь:"/>
                    <h:inputText id="j_username" label="username" required="true"/>
                    <h:outputText value="Пароль: "/>
                    <h:inputSecret id="j_password" label="password" required="true"/>
                    <h:outputText value="Запомнить"/>
                    <h:selectBooleanCheckbox id="_spring_security_remember_me" value="false"/>
                </h:panelGrid>

                <p:commandButton ajax="false" type="submit" value="Вход" action="#{authenticationController.doLogin}"
                                 styleClass="enter-button"/>
                <p:commandButton value="Отмена" update="panel" process="@this" styleClass="cancel-button">
                    <p:resetInput target="panel"/>
                </p:commandButton>
            </p:panel>


        </h:form>
        <h:form id="register-link-form">
            <div class="centered">
                <p:commandLink id="registerLink" value="Регистрация" action="register" style="text-align: center;"/>
            </div>
        </h:form>
    </div>
</h:body>
</html>
