<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="Регистрация"/>
    </ui:define>
    <ui:define name="body">
        <div class="form-register">
            <p:panel id="panel" header="Заполните поля">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">

                        <h:outputText value="Фамилия:"/>
                        <p:inputText value="#{user.lastname}" required="true"
                                     requiredMessage="Требуется ввести значение"/>
                        <h:outputText value="Имя: "/>
                        <p:inputText value="#{user.firstname}" required="true"
                                     requiredMessage="Требуется ввести значение"/>
                        <h:outputText value="Отчество: "/>
                        <p:inputText value="#{user.middlename}" required="true"
                                     requiredMessage="Требуется ввести значение"/>
                        <h:outputText value="Логин: "/>
                        <p:inputText value="#{user.name}" required="true" requiredMessage="Требуется ввести значение"
                                     validator="#{registerController.validate}">
                            <f:ajax event="blur" render="growl"/>
                        </p:inputText>
                        <h:outputText value="Пароль: "/>
                        <p:password id="pwd_input1" label="Password 1" value="#{user.password}" match="pwd_input2"
                                    required="true"
                                    requiredMessage="Требуется ввести значение" validatorMessage="Пароли не совпадают"/>
                        <h:outputText value="Пароль повтор: "/>
                        <p:password id="pwd_input2" label="Password 2" value="#{user.password}"
                                    required="true" requiredMessage="Требуется ввести значение"/>

                        <f:facet name="footer">
                            <p:commandButton value="Отправить" action="#{registerController.sendRegister(user)}"
                                             update="growl"/>
                            <p:commandButton value="Cancel" action="/template" immediate="true"/>
                        </f:facet>
                    </h:panelGrid>
                </h:form>
            </p:panel>
        </div>
    </ui:define>
</ui:composition>
</html>
