<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>

<h:head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="language" content="ru"/>
    <title><ui:insert name="title">Вход</ui:insert></title>
    <h:outputStylesheet library="css" name="jsfcrud.css"/>
    <link rel="icon" href="#{request.contextPath}/resources/img/faviconOSS.png" type="image/png"/>
</h:head>

<h:body>
    <p:growl autoUpdate="true" id="growl" life="3000" showDetail="true" sticky="true"/>

    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <h:form>
            <p:commandButton title="GDelYesButton" value="Да" styleClass="ui-confirmdialog-yes"/>
            <p:commandButton title="GDelNoButton" value="Нет" styleClass="ui-confirmdialog-no"/>
        </h:form>
    </p:confirmDialog>

    <p:layout fullPage="true">
        <p:layoutUnit position="north" size="115" gutter="1" header="Каталог проектов бюро сетевых технологий УИТиС">
            <ui:include src="header.xhtml"/>
        </p:layoutUnit>

        <p:layoutUnit position="south" size="60" gutter="1">
            <ui:include src="footer.xhtml"/>
        </p:layoutUnit>

        <p:layoutUnit position="center" gutter="1">
            <ui:insert name="body"/>
        </p:layoutUnit>

        <p:layoutUnit position="west" resizable="true" size="250" gutter="1" minSize="100" maxSize="300">
            <ui:insert name="left_menu"/>
        </p:layoutUnit>
    </p:layout>
</h:body>
</html>
